PROJECT_NAME=importer

# IMPORTER SETTINGS
DELETE_AFTER_DAYS=0
DELETE_AFTER_COUNT=10

# WEBSERVER SETTINGS
ROOT_PATH=/api
API_KEY=

# BROKER SETTINGS
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=
RABBITMQ_EXCHANGE=
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_INPUT_QUEUE=

# OAUTH SETTINGS
CKAN_URL
OAUTH_URL=
OAUTH_API_KEY=
OAUTH_APP_ID=
OAUTH_USER=
OAUTH_PWD=

# DATABASE SETTINGS
DATABASE_HOST=database
DATABASE_PORT=
DATABASE_NAME=gis
DATABASE_USER=
DATABASE_PASS=

# GEOSERVER SETTINGS
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=
GEOSERVER_WORKSPACE=general
GEOSERVER_DATA_DIR=/opt/geoserver/data_dir
GEOWEBCACHE_CACHE_DIR=/opt/geoserver/data_dir/gwc
INITIAL_MEMORY=2G
MAXIMUM_MEMORY=4G