PROJECT_NAME=importerandmapper
BUILD_TARGET=dev

# IMPORTER SETTINGS
DELETE_AFTER_DAYS=14
DELETE_AFTER_COUNT=5

# WEBSERVER SETTINGS
ROOT_PATH=/api
API_KEY=
WS_PORT=

# BROKER SETTINGS
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=
RABBITMQ_EXCHANGE=
RABBITMQ_EXCHANGE_TYPE=
RABBITMQ_INPUT_QUEUE=
RABBITMQ_REPORT_ROUTINGKEY_PREFIX=

# OAUTH SETTINGS
CKAN_URL=
OAUTH_URL=
OAUTH_API_KEY=
OAUTH_APP_ID=
OAUTH_USER=
OAUTH_PWD=

# DATABASE SETTINGS
DB_PORT_EXPOSE=25434
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=gis
DATABASE_USER=
DATABASE_PASS=

# GEOSERVER SETTINGS
GEOSERVER_HOST=
GEOSERVER_PORT=8600
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=
GEOSERVER_WORKSPACE=general
GEOSERVER_DATA_DIR=/opt/geoserver/data_dir
GEOWEBCACHE_CACHE_DIR=/opt/geoserver/data_dir/gwc
INITIAL_MEMORY=2G
MAXIMUM_MEMORY=4G
VERSION=2.21.1
VOL_DIR=/data/data-dev
